@charset 'UTF-8';

html, body {
    height: 100vh;
}
.main {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -.5px;
}
.main section { 
    width: 100%;
}
.main section .inner {
    display: flex;
}
.main .prog_wrap .inner,
.main .edu_wrap .inner,
.main .borad_wrap .inner {
    padding: 0 1rem;
}
.main section h3 {
    font: 900 1.125rem 'NanumSquareNeo';
}
/* 공통 탭 버튼스타일 */
.main .tab_list ul {
    display: inline-flex;
    flex-wrap: wrap;
}
.main .tab_list li {
    margin-right: .5rem;
    margin-bottom: .5rem;
    border-radius: .625rem;
    background: #ebebeb;
}
.main .tab_list a {
    display: block;
    width: 100%;
    padding: .25rem 1rem .375rem;    
    text-align: center; 
}
.main .tab_list li:hover {
    background: #ccc;
    transition: all .2s ease-in;
}
.main .tab_list .on,
.main .tab_list .on:hover {
    border-radius: .625rem;
    background: #333;
}
.main .tab_list .on a {
    color: #fff;
}
.main .tab_list .more_btn {
    display: inline-flex;
    width: auto;
    margin-left: 1rem;
}
.main .tab_list .more_btn:hover {
    color: #888;
}
    /* 버튼 화살표 */
.main .arrow_icon::before,
.main .slick-prev::before,
.main .slick-next::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;    
    background-color: currentColor;
}
.main .arrow_icon::after,
.main .slick-prev::after,
.main .slick-next::after {
    content: '';
    position: absolute;
    width: .375rem;
    height: .375rem;
    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
    /* slick 페이징 스타일 */
.main .dots_control {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
.main .slick-dots {
    position: static;
    width: auto;
    text-align: left;
}
    .main .slick-dots li {
    margin: 0;
}
.main .slick-dots li button::before {
    font-size: 12px;
    opacity: .2;
}
.main .slick-dots li.slick-active button:before {
    color: #333;
    opacity: 1;
}
    /* play / stop 버튼 */
.main .play_btn {
    margin-left: 1rem;
}
.main .play_btn > a {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    background: #e6e6e6;
    color: #333;
}
.main .play_btn > a:hover {
    background: #333;
    color: #fff;
    transition: all .3s ease-in;
}
.main .play_btn a.play::before {
    content: '';
    display: block;
    position: absolute;
    width:0; 
    height:0;
    margin-top: calc(50% - .438rem);
    margin-left: calc(50% - .1875rem);
    border:.375rem solid transparent;
    border-left-color:currentColor;
}
.main .play_btn a.stop::before {
    content: '';
    display: block;
    position: absolute;
    width: .1875rem;
    height: .75rem;
    margin-top: calc(50% - .438rem);
    margin-left: calc(50% - .1875rem);
    border: 2px solid currentColor;
    border-top: none;
    border-bottom: none;
}
/********** 기존 메뉴 색상 변경 **********/
.main .header,
.main .header.scrolled .gnb_header,
.main .gnb > li:hover .sub_gnb {
    background: #f6f3f3;
}
.main .util_header .right_util .sitemap_wrap > li {
    border-right: none;
}
.main .util_header .right_util .sitemap_wrap > li > a {
    color: #383838;
} 
.main .util_header .right_util .sitemap_wrap > li:nth-child(3) {
    display: none;
}
.main .gnb_header {
    border-bottom: 0;
}
/********** 메인 비주얼 **********/
.main .visual {
    background: #f6f3f3;
}
.main .visual .inner {
    width: 100%;
    max-width: 1920px;
    margin: 4.125rem auto;
}
.main .visual .text_box { 
    position: relative;
    width: 100%;
    max-width: 1220px;
    background: url(../images/main/visual_text.png) no-repeat;
    background-position: top 1.25rem right;
}
.main .visual .text_box > div {
    position: absolute;
    right: 3%;
    bottom: 1.25rem;
    width: 100%;;
    max-width: 470px;
}
.main .visual .text_box > div p {
    font-weight: 700;
    font-size: .938rem;
    font-family: 'NanumSquareNeo';
    color: #7d7d7d;
}
.main .visual .text_box > div p:first-child {
    margin-bottom: .5rem;
    font-size: 1.125rem;
    color: #010101;
}
    /* login */
.main .login_wrap {
    display: flex;
    flex: none;
    flex-direction: column;
    z-index: 1;
    max-width: 385px;
    min-height: 370px;
    margin: 0 2.75rem 0 -2.5rem;
    padding: 3.75rem 4.625rem;
    border-radius: 4rem;
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.09);
    background: #fff;
    font-size: .875rem;
    color: #6b6b6b;
}
.main .login_wrap h3 {
    font: 800 .875rem 'NanumSquareNeo';
    color: #383838;
}
.main .login_box input {
    width: 100%;
    margin-top: .75rem;
    padding: .75rem;
    border: none;
    background: #f6f3f3;
    color: #6a7c8e;
}
.main .login_box input::placeholder {
    font-weight: 400;
    font-size: .875rem;
    color: #6a7c8e;
    letter-spacing: -1px;
}
.main .login_box input:focus {
    outline: 1px solid #f1394050;
}
.main .login_box .login_button {
    display: inline-flex;
    margin-top: .75rem;
    padding: .625rem 1.875rem;
    background: #f13940;
    font-size: 1rem;
    color: #fff;
}
.main .login_box .login_button:hover {
    opacity: .8;
}
.main .id_save_wrap {
    display: inline-block;
    position: relative;
    margin-top: auto;
}
    /* 체크박스 */
.main .id_save_wrap label {
    display: inline-block;
    padding: 0 0 0 1.875rem;    
    cursor: pointer;
}
.main .id_save_wrap label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    transition-property: background-color, border-color;
}
.main .id_save_wrap label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 7px;
    z-index: 2;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(45deg);
    transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.main .id_save_wrap input:checked + label::before {
    background-color: #f04c53;
    border-color: #f04c53;
}
.main .id_save_wrap input:checked + label::after {
    border-color: #fff;
}
    /* 체크박스 끝 */
.main .login_wrap .id_pw_find {
    margin-top: auto;
}
.main .login_wrap .id_pw_find a {
    margin-left: 10px;
    color: #6b6b6b;
}
.main .login_wrap .id_pw_find a:first-child {
    margin-left: 5px; 
}
.main .login_wrap .id_pw_find a::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-top: -1px;
    margin-right: 8px;
    border-radius: 50%;
    background: #f04c53;
    vertical-align: middle;
}
/********** 링크 **********/
.main .link_wrap .inner {
    max-width: 1730px;
    margin: 1.5rem auto 3rem;
    padding: 0 1rem;
}
.main .link_wrap ul { 
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12.5%);
    margin-left: auto;
}
.main .link_wrap .inner > h3 {
    display: flex;
    width: 12.5%;
    padding-right: 1%;
    color: #ddd;
    letter-spacing: 1px;
    align-items: center;
}
.main .link_wrap .inner > ul li {
    width: calc((100% / 7) - 1%);
    margin: 0 1% .625rem 0;
}
.main .link_wrap .inner > ul li:last-child {
    margin-right: 0;
}
.main .link_wrap ul li a {
    display: block;
    min-height: 130px;
    border-radius: 15px;
    background: #f2f2f2;
    font: bold .813rem "Malgun Gothic", "맑은 고딕";
    color: #1f1f1f;
    text-align: center;
}
.main .link_wrap ul li a span {
    display: block;
} 
.main .link_wrap li a::before {
    content: '';
    display: block;
    width: 50px;
    height: 40px;
    margin: 0 auto;
    padding: 25px 0 12px;
    background: url(../images/main/ico_01.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(2) a::before {
    background: url(../images/main/ico_02.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(3) a::before {
    background: url(../images/main/ico_03.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(4) a::before {
    background: url(../images/main/ico_04.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(5) a::before {
    background: url(../images/main/ico_05.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(6) a::before {
    background: url(../images/main/ico_06.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(7) a::before {
    background: url(../images/main/ico_07.png) no-repeat center 25px;
}
    /* hover */
.main .link_wrap li:hover a::before {
    background: url(../images/main/hover_ico_01.png) no-repeat center 25px;
    transition: all .3s ease-in;
}
.main .link_wrap li:nth-child(2):hover a::before {
    background: url(../images/main/hover_ico_02.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(3):hover a::before {
    background: url(../images/main/hover_ico_03.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(4):hover a::before {
    background: url(../images/main/hover_ico_04.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(5):hover a::before {
    background: url(../images/main/hover_ico_05.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(6):hover a::before {
    background: url(../images/main/hover_ico_06.png) no-repeat center 25px;
}
.main .link_wrap li:nth-child(7):hover a::before {
    background: url(../images/main/hover_ico_07.png) no-repeat center 25px;
}
/********** 교육과정 **********/
.main .prog_wrap .inner {
    display: block;
    max-width: 1280px;
    margin: 0 auto;
}
.main .tit_box {
    display: flex;
    margin-bottom: 2.875rem;
}
.main .tit_box h3 {
    font-weight: 800;
    font-size: 1.375rem;
    font-family: 'NanumSquare';
}
.main .tit_box > div {
    margin-left: auto;
}
.main .tit_box a {
    font: bold .813rem "Malgun Gothic", "맑은 고딕";
    color: #252525;
}
.main .prog_wrap .tab_list li {
    min-width: 5.125rem;
}
.main .prog_wrap .prog_box {
    position: relative;
}
    /* slick에 붙이기 */
.main .prog_box .date_box {
    position: absolute;
    width:20%;
    min-width: 10rem;
    font: 700 1rem 'NanumSquareNeo';
}
.main .prog_box .date_box p {
    margin-bottom: 1rem;
}
.main .prog_box .date_box p span {
    font-weight: 900;
    font-size: 3rem;    
}
.main .prog_box .date_box p:first-child span {
    font-weight: 800;
    font-size: 1.25rem;
}
.main .prog_box .date_box > a {
    display: inline-block;
    padding: .25rem .75rem .375rem;
    border-radius: .625rem;
    background: #333;
    font: bold .813rem "Malgun Gothic", "맑은 고딕";
    color: #fff;
}
.main .prog_box .date_box > a:hover {
    transition: all .2s ease-in;
    opacity: .9;
}
.main .prog_box .dots_control {
    display: inline-flex;
    position: absolute;
    z-index: 1;
    margin-top: -4rem;
}
    /* 교육과정 박스 */
:root {
    --course-gray: #ddd;
    --course-lavender: #bb8bf7;
    --course-crimson: #ff8197;
    --course-yellow: #ffce3d;
}
.main .prog_wrap .prog_curr {
    width: 100%;
    min-width: 1280px;
    margin-left: 20%;
    
}
.main .prog_wrap .curriculum .course {    
    margin: 0 1.5rem 1.5rem 0;
    border: 1px solid var(--course-gray);
    border-radius: 15px 15px 0 0;
    background: var(--course-gray);
    font: bold .875rem "Malgun Gothic", "맑은 고딕";
}
    /* 4번째 알파값주기 */
.main .prog_wrap .curriculum .slick-active-last {
    opacity: .5;
}
.main .course .curr_info {
    padding: 20px;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    background: rgba(255,255,255,.5);
}
.main .course .curr_info > div {
    display: flex;
    margin-bottom: 2rem;
}
.main .course .curr_info > div h4 {
    font-weight: bold;
    color: #242424;
}
.main .course .curr_info > div p {
    margin-left: auto;
}
.main .course .curr_info > div p span {
    padding: .25rem 1rem;
    border-radius: 50px;
    background: #fff;
    font-size: .75rem;
}
.main .course .curr_info > p span {
    display: block;
}
.main .course .curr_btn {
    display: flex;    
}
.main .course .curr_btn a {
    position: relative;
    width: 50%;
    padding: 1.25rem 0;
    border: 1px solid var(--course-gray);
    border-width: 1px 0 0 1px;
    background: rgba(255,255,255,.85);
    font-size: .75rem;
    text-indent: 1.75rem;
}
.main .course .curr_btn a:hover {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.11);
}
.main .curr_btn .arrow_icon {
    display: block;
    position: absolute;
    right: -.125rem;
    margin-top: -.5rem;
    opacity: .5;
}
.main .curr_btn .arrow_icon::before {
    right: calc(1.75rem + 1px);
}
.main .curr_btn .arrow_icon::after {
    right: 1.75rem;
    margin-top: -.1875rem;
}
    /* 코스별 컬러 설정 */
    .main .prog_wrap .curriculum .unemployed {
        background: var(--course-lavender);
        border-color: var(--course-lavender);
    }
    .main .curriculum .unemployed .curr_btn a {
        border: 1px solid var(--course-lavender);
        border-width: 1px 0 0 1px;
    }
    .main .curriculum .unemployed .curr_btn a:hover {
        color: #8422ff;
    }

    .main .prog_wrap .curriculum .incumbent {
        background: var(--course-crimson);
        border-color: var(--course-crimson);
    }
    .main .curriculum .incumbent .curr_btn a {
        border: 1px solid var(--course-crimson);
        border-width: 1px 0 0 1px;
    }
    .main .curriculum .incumbent .curr_btn a:hover {
        color: #ff4061;
    }

    .main .prog_wrap .curriculum .online {
        background: var(--course-yellow);
        border-color: var(--course-yellow);
    }
    .main .curriculum .online .curr_btn a {
        border: 1px solid var(--course-yellow);
        border-width: 1px 0 0 1px;
    }
    .main .curriculum .online .curr_btn a:hover {
        color: #ffa406;
    }
.main .curriculum .curr_btn a:first-child {
    border-left: 0;
}
    /* 슬라이더 좌우버튼 */
.main .prog_curr {
    position: relative;
}
.main .curriculum .slick-prev,
.main .curriculum .slick-next {
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 4rem;
    margin-left: -3.5rem;
    border: 1px solid #888;
    border-radius: 50px;
    background: rgba(255,255,255,1);
    color: #888;
    transform: translateY(-80%);
    cursor: pointer;    
}
.main .curriculum .slick-next {
    right: auto;
    margin-left: 56.5rem;
}
.main .curriculum .slick-prev::before,
.main .curriculum .slick-next::before {
    font-family: "Malgun Gothic", "맑은 고딕";
    color: currentColor;    
    transform: translateX(calc(-50% - 1px));    
}
.main .curriculum .slick-prev::after,
.main .curriculum .slick-next::after {
    margin-top: -3px;
}
.main .curriculum .slick-prev::after {
    margin-left: -.625rem;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
}
.main .curriculum .slick-prev:hover,
.main .curriculum .slick-next:hover {
    color: #111;
    transition: all .3s ease-in;
    border-color: #111;
}

/********** KTL아카데미 **********/
.main .edu_wrap {
    position: relative;
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 10%,#f6f3f3 10%,#f6f3f3 100%);
}
.main .edu_wrap .inner {
    height: 38.25rem;
    max-width: 1280px;
    margin: 0 auto;
}
.main .edu_wrap .left_box {
    width: 30%;
    padding-top: 7.5rem;
}
.main .edu_wrap .edu_title {
    margin-bottom: 5.25rem;
    font-size: 1rem;
    color: #7d7d7d;
}
.main .edu_wrap .edu_title h3 {
    margin-bottom: .75rem;
    font-size: 1.5rem;
    color: #010101;
}
.main .edu_wrap .edu_title p span {
    display: block;
}
.main .edu_wrap .edu_list {
    width: 100%;
    max-width: 18.125rem;
}
.main .edu_wrap .edu_list li {
    position: relative;
    color: #333;
}
.main .edu_list li.arrow_icon::before {
    display: none;
    top: calc(50% - 2px );
    right: 2px;
}
.main .edu_list li.arrow_icon::after {
    display: none;
    top: calc(50% - 5px);
    right: 1px;
}
.main .edu_list li.arrow_icon:hover::before,
.main .edu_list li.arrow_icon:hover::after,
.main .edu_list li.on::before,
.main .edu_list li.on::after {
    display: block;
}
.main .edu_wrap .edu_list li a {
    display: block;
    padding: 1rem 0 .75rem;
    border-bottom: 1px solid #cecece;
    font: 500 1.125rem 'NanumSquare';
    color: #020202;    
}
.main .edu_wrap .edu_list li a:hover,
.main .edu_wrap .edu_list li.on a {
    font-weight: 600;
    color: #000;
    border-color: #020202;    
}
.main .edu_wrap .right_box {
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: 25rem;
}
.main .edu_wrap .right_box .academy_list .academy {
    height: 38.25rem;
    padding-top: 13rem;
}
.main .edu_wrap .right_box .academy_list .academy p {
    margin-bottom: 1.75rem;
    color: #7d7d7d;
    letter-spacing: -1px;
}
.main .edu_wrap .right_box .academy_list .academy p b {
    font-weight: 900;
    font-size:2.25rem;
    font-family: 'NanumSquare';
}
.main .tag_text li {    
    margin-bottom: .375rem;
}
.main .tag_text li span { 
    display: inline-block;
    padding: .5rem 1.25rem .5rem 1rem;
    border-radius: 50px;
    background: #e4e4e4;
    font-weight: 500;
    font-size: .875rem;
    color: #111;
}
.main .edu_wrap .right_box .more_btn {
    display: block;
    position: relative;
    width: 3.125rem;
    height: 3.125rem;
    margin-top: 1.75rem;
    border-radius: 50px;
    background: #4d4d4d;
    color: #fff;
}
.main .edu_wrap .right_box .more_btn::before {
    content: '';
    position: absolute;
    top: calc(50%);
    left: calc(50% - .5rem);
    width: 1rem;
    height: 1px;
    background-color: currentColor;
}
.main .edu_wrap .right_box .more_btn::after {
    content: '';
    position: absolute;
    top: calc(50%);
    left: calc(50% - .5rem);
    width: 1rem;
    height: 1px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background-color: currentColor;
}
.main .edu_wrap .right_box .more_btn:hover {
    background: #111;
    transition: all .3s ease-in;
}
.main .edu_wrap .right_box .aca_01 {
    background: url(../images/main/ktl_bg_01.png)no-repeat left bottom;    
}
.main .edu_wrap .right_box .aca_01 p b {
    color: #f0c628;
}
.main .edu_wrap .right_box .aca_02 {
    background: url(../images/main/ktl_bg_02.png)no-repeat left bottom;    
}
.main .edu_wrap .right_box .aca_02 p b {
    color: #ff7b92;
}
.main .edu_wrap .right_box .aca_03 {
    background: url(../images/main/ktl_bg_03.png)no-repeat left bottom;    
}
.main .edu_wrap .right_box .aca_03 p b {
    color: #b07bf2;
}
.main .right_box .dots_control {
    position: absolute;
    margin-top: -6rem;
    margin-left: 45rem;
}

/********** What's NEW **********/
.main .borad_wrap .inner {
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    padding: 3.75rem 1rem;
}
.main .borad_wrap .tit_box h3 {
    font: 900 1.5rem 'NanumSquareNeo';
    color: #010101;
    text-transform: uppercase;
}
.main .borad_wrap .new_list {
    display: flex;    
    justify-content: space-between;
}
.main .borad_wrap .new_list li {
    width: 25%;
    margin-left: 1rem;
    border: 1px solid #cecece;
    border-radius: 1rem;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
}
.main .borad_wrap .new_list li:first-child {
    margin-left: 0;
}
.main .borad_wrap .new_list li:hover {
    background: #f4f7fe;
    transition: all .3s ease-in;
    border-color: #17324f;
}
.main .borad_wrap .new_list li a {
    display: block;
    padding: 2.25rem 2.125rem;
    font-size: .875rem;
    color: #717171;
    letter-spacing: -1px;
}
.main .borad_wrap .new_list li a p {
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 2.125rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.main .borad_wrap .new_list li a p:first-child {
    min-height: 3.75rem;
    font: 400 1.125rem 'NanumSquareNeo';
    color: #000;
    letter-spacing: 0;
}
.main .borad_wrap .new_list li a .new::after {
    content: 'NEW';
    display: inline-block;
    margin-top: 3px;
    margin-left: .5rem;
    font-weight: bold;
    font-size: 10px;
    color: #f13940;
    letter-spacing: 1px;
    vertical-align: top;
}
.main .borad_wrap .new_list li a .date {
    position: relative;
}
.main .borad_wrap .new_list li a .date span {    
    display: inline-block;
    margin-left: 1.375rem;
    font-size: .75rem;
    color: #6c6c6c;
    letter-spacing: 0;
}
    /* 시계 아이콘 */
.main .clock_icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -1px;
}
.main .clock_icon::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: .75rem;
    height: .75rem;
    margin-top: 3px;
    border: 2px solid #202020;
    border-radius: 50px;
}
.main .clock_icon::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 4px;
    width: 4px;
    height: 4px;
    border-right: solid 1px #202020;
    border-bottom: solid 1px #202020;
}

/********** banner **********/
.main .banner_wrap {
    background: #e4eaf7;
}
.main .banner_wrap .inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3.75rem 1rem 5rem;
    justify-content: flex-end;
}
.main .banner_wrap .inner > div {
    position: relative;
    height: 187px;    
    border-radius: 1rem;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
    background: #fff;
}
.main .banner_wrap .inner > div::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -50px;    
}
.main .banner_wrap .inner > div p {
    display: -webkit-box;
    overflow: hidden;
    position: relative;
    z-index: 2;
    font: 700 .875rem 'NanumSquareNeo';
    color: #323232;
    letter-spacing: .5px;
    text-shadow: -1px -1px 3px rgba(255, 255, 255, 1);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.main .banner_wrap .inner > div p:first-child {
    margin-bottom: .5rem;
    font: 900 1.5rem 'NanumSquare';
}
.main .banner_wrap .inner .banner_01 {
    width: 48%;
    padding: 2.625rem 2.5rem 2.5rem;
}
.main .banner_wrap .inner .banner_01::after {
    width: 360px;
    height: 237px;
    border-radius: 0 1rem 1rem 0;
    background: url(../images/main/banner_img01.png) no-repeat right bottom;
    border-color: transparent;
}
.main .banner_wrap .inner .banner_01 p:first-child {
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
}
.main .banner_wrap .inner .banner_02 {
    width: 30%;
    margin-left: 1.25rem;
}
.main .banner_wrap .inner .banner_02 p {
    margin: 2.625rem 2.5rem 1.688rem;
}
.main .banner_wrap .inner .banner_02 p:nth-child(2) {
    margin-top: 0;
}
.main .banner_wrap .inner .banner_02 span {
    display: block;
    position: relative;
    z-index: 2;
    padding: 1.5rem 0;
    border-radius: 0 0 1rem 1rem;
    background: #ff5871 url(../images/main/banner_ktl.png) no-repeat;
    background-position: right 1rem center;
    font-size: .938rem;
    color: rgba(255,255,255,.5);
    letter-spacing: 2px;
    text-align: center;
}
.main .banner_wrap .inner .banner_02::after {
    width: 75px;
    height: 172px;
    margin-right: 2rem;
    background: url(../images/main/banner_img02.png) no-repeat right bottom;
}
/********** footer **********/
.main footer {
    background: #17324f;
}
.main footer .inner {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2.25rem 0 4rem;    
}
.main footer .ft_link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: 224px;
    margin-top: -8rem;
    margin-left: -13rem;
    background: url(../images/main/ft_bg.png) no-repeat;
}
.main footer .ft_link {
    display: flex;
}
.main footer .ft_link ul {
    display: flex;
    width: 50%;
    margin-left: auto;
    justify-content: flex-end;
}
.main footer .ft_link li {
    margin-left: 1.5rem;
}
.main footer .ft_link li a {
    font-weight: 400;
    font-size: .875rem;
    color: #b5c7db;
    letter-spacing: -1px;
}
.main footer .ft_link li:first-child a {
    color: #e4273d;    
}
.main footer .ft_select {
    margin-left: auto;
}
.main footer .ft_select > div {
    margin-bottom: .5rem;
}
.main footer .ft_select select {
    width: 12.5rem;
    padding: .75rem 1.125rem;
    border: 0;
    border-radius: 5rem;
    background: #45607c;
    color: #fff;
    outline: 0;
    appearance: none;
}
.main footer .ft_select > div a {
    display: inline-block;
    padding: .625rem .75rem .75rem;
    border-radius: 5rem;
    background: #1d4a7b;
    font-size: .875rem;
    color: #fff;
}
.main footer .ft_info {
    display: flex;
    font-weight: 400;
    font-size: .875rem;
    color: #b5c7db;
    letter-spacing: -1px;
}
.main footer .ft_info > div {
    margin-left: 5rem;
}
.main footer .ft_info > div address {
    display: inline-flex;
    margin-right: 1rem;
}
.main footer .ft_info > div p {
    margin-top: .375rem;
    color: #647587;
    letter-spacing: 0;
}
/********** top_btn **********/
.main .quick_box {
    right: 0;
    bottom: 13.5rem;
    left: auto;
    margin-right: 12.5vw;
    margin-left: auto;
}
.main .quick_box button, 
.main .quick_box a {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    border-radius: .5rem;
    background: rgba(244, 105, 111,1);
    color: #fff;
}
.main .quick_box button::after,
.main .quick_box a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: .625rem;
    height: .625rem;
    margin-top: -.1875rem;
    margin-left: -.375rem;
    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.main .quick_box button:hover, 
.main .quick_box a:hover {
    background: rgba(255, 88, 113,1);
    transition: all .3s ease-in;
}

/* ---------- respond ---------- */
@media screen and (max-width: 1800px) {
    .main .visual .inner {
        max-width: 1730px;
        margin: 4.125rem auto;
    }
    .main .visual .text_box {
        width: 65%;
    }
    .main .login_wrap {
        margin-left: 0;
    }
}

/* top_btn 플러스사이즈 */
@media screen and (max-width: 1665px) {
    .main .quick_box {
        margin-right: 5vw;
    }
}
@media screen and (max-width: 1385px) {
    .main .quick_box {
        margin-right: 1rem;
    }
    .main .visual .text_box {
        background-size: 120%;
        background-position: top 3rem right;
    }
}

/* 플러스사이즈 */
@media screen and (max-width: 1270px) {    
    .main .visual .text_box {
        background-size: 120%;
    }
    /****** 교육과정 ******/
    .main .tit_box {
        margin-bottom: 2rem;
    }
    .main .prog_box .date_box {
        display: flex;
        position: static;
        width: 100%;
        margin-bottom: 1rem;
    }
    .main .prog_box .date_box p {
        margin-right: 1rem;
        margin-bottom: 0;
    }
    .main .prog_box .date_box p span,
    .main .prog_box .date_box p:first-child span {
        font-weight: 800;
        font-size: 1.375rem;    
    }
    .main .prog_box .date_box > a {
        margin-left: auto;
    }
    .main .prog_wrap .prog_curr {
        margin-left: 5rem;
    }
    .main .prog_wrap .prog_curr .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .main .prog_box .dots_control {
        display: flex;
        position: static;
        margin-top: 0;
        justify-content: center;
    }
    /****** KTL아카데미 ******/
    .main .right_box .dots_control {
        right: 27rem;        
        margin-left: 0;
    }
    /****** footer ******/
    .main footer .ft_link ul {
        width: 60%;
    }
}

/* 플러스사이즈 */
@media screen and (max-width: 1139px) {
    /****** link ******/
    .main .link_wrap .inner {
        display: block;
        max-width: 100%;
        margin: 1.5rem auto 3rem;
    }
    .main .link_wrap .inner > h3 {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
    .main .link_wrap ul {
        display: block;
        width: 100%;
        font-size: 0;
        text-align: center;
    }
    .main .link_wrap .inner > ul li {
        display: inline-block;
        width: calc(25% - 1%);
        vertical-align: top;
    }
    .main .link_wrap ul li a {
        min-height: 100px;
    }
    .main .link_wrap ul li a P {
        padding: 0 .5rem;
    }
    .main .link_wrap ul li a span {
        display: inline-block;
    }
    .main .link_wrap .inner ul li a::before {
        padding-top: 15px;
    }
    .main .link_wrap .inner ul li a::before,
    .main .link_wrap .inner ul li:hover a::before {
        background-position: center 15px;
    }
}

@media screen and (max-width: 1135px) {
    /****** visual ******/
    .main .visual .text_box {
        background-size: 140%;
        background-position: top 2.5rem right;
    }
    .main .visual .text_box > div {
        bottom: 4.25rem;
    }
    /****** banner ******/
    .main .banner_wrap .inner {
        padding-bottom: 13rem;
    }
    .main .banner_wrap .inner .banner_01 {
        width: 58%;
        padding: 2.375rem 2.5rem 2.5rem;
    }
    .main .banner_wrap .inner .banner_02 {
        width: 40%;
        margin-left: 1rem;
    }
    .main .banner_wrap .inner .banner_02 p {
        margin: 2.375rem 2.5rem 1.9375rem;
    }
    .main .banner_wrap .inner > div p span {
        display: block;
    } 
    /****** footer ******/
    .main footer .inner {
        padding: 2.25rem 0 8rem;
    }
    .main footer .ft_link {
        display: block;
    }
    .main footer .ft_link::before {
        left: 50%;
        width: 690px;
        margin-top: -10rem;
        margin-left: 0;
        background: url(../images/main/ft_m-bg.png) no-repeat;
        transform: translateX(-50%);
    }
    .main footer .ft_link ul {
        width: 100%;
        margin-top: 5rem;
        justify-content: center;
    }
    .main footer .ft_link li:first-child {
        margin-left: 0;
    }
    .main footer .ft_select {
        display: flex;
        position: absolute;
        bottom: 2.5rem;
        left: 50%;
        width: 100%;
        padding: 0 1rem;
        transform: translateX(-50%);
        justify-content: center;
    }
    .main footer .ft_select div:first-child {
        margin-right: 1.5rem;
    }
    .main footer .ft_select select {
        width: calc(100% - 3rem);
        max-width: 12.5rem;
    }
    .main footer .ft_info {
        display: block;
        padding: 0 1rem;
        word-break: keep-all;
    }
    .main footer .ft_info > a {
        position: absolute;
        top: 3.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .main footer .ft_info > div {
        width:100%;
        margin: 1.75rem 0 0 0;
        text-align: center;
    }
}

/* 플러스사이즈 */
@media screen and (max-width: 1080px) {
    /****** 교육과정 ******/
    .main .prog_wrap .prog_curr {
        min-width: auto;
        margin-left: 0;
    }
    .main .prog_wrap .curriculum .course {
        margin: 0 1rem 1.5rem 0;
    }
    .main .prog_wrap .curriculum .slick-active-last {
        opacity: 1;
    }
}

@media screen and (max-width:991px) {
    /****** 기존메뉴색상 ******/
    .main .header {
        background: #fff;
    }
    /****** visual ******/
    .main .visual .inner {
        display: block;    
        max-width: 100%;
        margin: 2.25rem 1rem;
    }          
    .main .visual .text_box {
        width: 100%;
        max-width: 100%;
        margin-bottom: 2rem;
        padding-top: 17rem;
        background: url(../images/main/m_visual_text.png) no-repeat;
        background-size: auto;
        background-position: top center;
    }     
    .main .visual .text_box > div {
        position: static;
        max-width: none;
        padding: 0 16vw;
    }    
    .main .login_wrap {
        display: block;
        max-width: none;
        min-height: auto;
        margin: 0 5vw;
        padding: 1.75rem 4rem 1.5rem;
        border-radius: 1rem;
    }
    .main .login_wrap .login_box {
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-between;
    }
    .main .login_box input {
        width: calc((100% - 6.875rem) / 2);
        margin-right: .5rem;
    }
    .main .login_box a {
        width: 6.875rem;
    }
    .main .login_wrap .id_pw_find {
        display: inline-block;
        margin-left: 2rem;
    }    
    /****** KTL아카데미 ******/
    .main .edu_wrap .left_box {
        position: absolute;
        z-index: 1;
        width: 100%;
    }
    .main .edu_wrap .edu_title {
        margin-bottom: 0;
    }
    .main .edu_wrap .edu_title p {
        text-shadow: -1px -1px 3px rgba(255, 255, 255, 1);
    }
    .main .edu_wrap .edu_title p span {
        display: inline-block;
    }
    .main .edu_wrap .edu_list {
        display: none;
    }
    .main .edu_wrap .right_box {
        position: static;
        margin-left: 0;
    }
    .main .edu_wrap .right_box .academy_list .academy {
        padding: 15rem 2.5rem 0;
        background-position: center bottom;
    }
    .main .edu_wrap .right_box .academy_list .academy p {
        text-shadow: -1px -1px 3px rgba(255, 255, 255, 1);
    }
    .main .right_box .dots_control {
        right: 2rem;
        margin-top: -9rem;
    }
}

/* 플러스사이즈 */
@media screen and (max-width:875px) {    
    /****** 교육과정 ******/
    .main .course {
        min-width: 13.375rem;
    }
    .main .course .curr_info > div {
        display: block;
        margin-bottom: 1rem;
    }
    .main .course .curr_info > div p {
        margin: 0;
        margin-top: 1rem;
    }
    .main .curriculum .curr_btn a {
        padding: .6875rem;
        text-indent: 1rem;
    }
    .main .curriculum .curr_btn a span {
        display: block;
    }
    .main .curr_btn .arrow_icon {
        margin-top: -1rem;
    }
    .main .borad_wrap .new_list {
        flex-direction: column;
    }
    .main .borad_wrap .new_list li {
        width: 100%;
        margin: 0 0 1rem 0;
    }
    .main .borad_wrap .new_list li:nth-child(n + 3) {
        display: none;
    }
    .main .borad_wrap .new_list li a {
        padding: 2rem 1.875rem;
    }
    .main .borad_wrap .new_list li a p {
        margin-bottom: 1.25rem;        
        -webkit-line-clamp: 2;
    }
    .main .borad_wrap .new_list li a p:first-child {
        min-height: auto;
    }
}

/* 플러스사이즈 */
@media screen and (max-width: 825px) {
    /****** banner ******/
    .main .banner_wrap .inner .banner_02 p {
        margin: 2.375rem 1.75rem 1.9375rem;
    }
}

@media screen and (max-width:767px) {
    /****** visual ******/
    .main .visual .text_box {        
        padding-top: 13.5rem;
        background-size: 100%;
    } 
    .main .visual .text_box > div {
        padding: 0 12vw;
    }
    .main .visual .text_box > div p {
        font-size: .813rem;
        word-break: keep-all;
    }
    .main .visual .text_box > div p:first-child {
        margin: .75rem 0 .25rem;
        font-size: .938rem;
    }
    /***** link ******/
    .main .link_wrap ul li a::before {
        background: url(../images/main/hover_ico_01.png) no-repeat center 25px;
    }
    .main .link_wrap li:nth-child(2) a::before {
        background: url(../images/main/hover_ico_02.png) no-repeat center 25px;
    }
    .main .link_wrap li:nth-child(3) a::before {
        background: url(../images/main/hover_ico_03.png) no-repeat center 25px;
    }
    .main .link_wrap li:nth-child(4) a::before {
        background: url(../images/main/hover_ico_04.png) no-repeat center 25px;
    }
    .main .link_wrap li:nth-child(5) a::before {
        background: url(../images/main/hover_ico_05.png) no-repeat center 25px;
    }
    .main .link_wrap li:nth-child(6) a::before {
        background: url(../images/main/hover_ico_06.png) no-repeat center 25px;
    }
    .main .link_wrap li:nth-child(7) a::before {
        background: url(../images/main/hover_ico_07.png) no-repeat center 25px;
    }
    /****** 교육과정 ******/
    .main .tit_box {
        display: block;
        margin-bottom: 1rem;
    }
    .main .tit_box .tab_list {
        margin-top: .5rem;
        text-align: right;
    }
    /****** banner ******/
    .main .banner_wrap .inner {
        flex-direction: column;
    }
    .main .banner_wrap .inner .banner_01 {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        padding: 2rem 5%;
    }    
    .main .banner_wrap .inner .banner_02 {
        width: 100%;
        height: auto;
        margin: 0;
    }    
    .main .banner_wrap .inner > div::after {
        top: auto;
        bottom: 0;
    }
    .main .banner_wrap .inner .banner_01::after {
        height: 155px;
        background-size: contain;
    }
    .main .banner_wrap .inner .banner_02::after {
        right: 1.5rem;     
        bottom: 52px;
        height: 120px;
        background-size: contain;
    }
    .main .banner_wrap .inner .banner_02 p {
        margin: 2rem 5% 1.25rem;
    }
    .main .banner_wrap .inner > div p:first-child {
        margin-bottom: 1rem;
    }
    .main .banner_wrap .inner > div a p:first-child {
        font-size: 1.5rem;
    }
}    

/* 플러스사이즈 */
@media screen and (max-width:705px) {
    /***** link ******/
    .main .link_wrap ul li a {
        min-height: 115px;
    }
    .main .link_wrap ul li a span {
        display: block;
    }
}

@media screen and (max-width: 640px) {
    /****** visual ******/
    .main .visual .inner {
        margin: 3.5rem 0;
    }
    .main .visual .text_box {
        padding-top: 12rem;
    }
    .main .login_wrap {
        display: none;
    }
    /****** KTL아카데미 ******/
    .main .edu_wrap .inner {
        height: 32rem;
        padding: 0;
    }
    .main .edu_wrap .left_box {
        padding: 5.5rem 1rem 0;
    }
    .main .edu_wrap .right_box .academy_list .academy {
        height: 32rem;
        padding: 12.5rem 0 0 1rem;
        background-size: 125%;
    }
    .main .edu_wrap .right_box .academy_list .academy p {
        margin-bottom: 1.25rem;
    }
    .main .right_box .dots_control {
        margin-top: -6.25rem;
    }    
    /****** top_btn ******/
    .main .quick_box {
        bottom: 5rem;
    }
}

@media screen and (max-width: 600px) {
    /****** 교육과정 ******/
    .main .tit_box .tab_list {
        margin-top: 1rem;
    }
    /****** footer ******/
        /* footer 여백을 위한 banner 패딩 */
    .main .banner_wrap .inner {
        padding-bottom: 9.5rem;
    }
    .main footer .ft_link li:nth-child(2) {
        display: none;
    }
    .main footer .ft_link::before {
        width: 100%;
        min-width: 400px;
        margin-top: -10.5rem;
        background-size: 100%;
        background-position: bottom center;
    }
    .main footer .ft_info > div span {
        display: block;
    }
    .main footer .ft_select select {
        max-width: 10rem;
    }
}

@media screen and (max-width:480px) {
    /****** visual ******/
    .main .visual .inner {
        margin: 3rem 0;
    }
    .main .visual .text_box {
        padding-top: 8.25rem;
    }
    /**** link *****/
    .main .link_wrap ul {
        text-align: left;        
    }
    .main .link_wrap .inner > ul li {
        width: calc(33.3% - .625rem);
        min-width: 100px;
        margin: 0 .3125rem .625rem .3125rem;
    }
    /****** 교육과정 ******/
    .main .prog_wrap .tab_list li {
        min-width: auto;
    }
    .main .tab_list .more_btn {
        margin-left: .0;
    }
    /****** KTL아카데미 ******/
    .main .edu_wrap .right_box .aca_01 {
        background: url(../images/main/ktl_m-bg_01.png)no-repeat;    
    }
    .main .edu_wrap .right_box .aca_02 {
        background: url(../images/main/ktl_m-bg_02.png)no-repeat;    
    }
    .main .edu_wrap .right_box .aca_03 {
        background: url(../images/main/ktl_m-bg_03.png)no-repeat;    
    }
    .main .edu_wrap .right_box .academy_list .academy {
        background-size: 60%;
        background-position: right -.5rem bottom;
    }
    /****** footer ******/
        /* footer 여백을 위한 banner 패딩 */
    .main .banner_wrap .inner {
        padding-bottom: 9rem;
    }
    .main footer .inner {
        padding-bottom: 11rem;
    }
    .main footer .ft_select {
        display: block;
        left: auto;
        text-align: center;
        transform: none;
    }
    .main footer .ft_select div:first-child {
        margin-right: 0;
    }
    .main footer .ft_select select {
        max-width: 12rem;
    }
}

/* 플러스사이즈 */
@media screen and (max-width:375px) {
        /* footer 여백을 위한 banner 패딩 */
    .main .banner_wrap .inner {
        padding-bottom: 6rem;
    }
}

/* 플러스사이즈 */
@media screen and (max-width:368px) {
    /****** 교육과정 ******/
    .main .tab_list a {
        padding: .1875rem .5rem .375rem;
    }  
}

/* 플러스사이즈 */
@media screen and (max-width:361px) {    
    /**** link *****/
    .main .link_wrap .inner > ul li {
        width: calc(50% - .625rem);
        min-width: 100px;
        margin: 0 .3125rem .625rem .3125rem;
    }
}